################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeSharing.Services.Rides.API/v14/.suo
/src/BikeSharing.Services.Rides/node_modules
/src/BikeSharing.Services.Rides/obj/Debug
/node_modules
