################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeSharing.Services.Rides.API/v14/.suo
